<!DOCTYPE html>
<html ng-app="dnd">
<head>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Single Drag and Drop example</title>
    <link rel="stylesheet" href="css/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="css/style_jquery.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="css/dragndrop.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="css/contextmenu.css"
	media="screen" />
    <style>
    
   </style>

</head>
						

<body class="kanban-dnd-body">
	
		<div id="kanban-dnd-wrapper" >
			<div class="kanban-dnd-section" >
				<div class="kanban-dnd-section-content" id="main"  ng-controller="dndCtrl">
					<!-- BEGIN: XHTML for example 1.2 -->
					<div id="kanban-dnd-div" >
						<div class="columnMain left first" expanded="true">
							<div class="columnCollapsed" id="divNotStartedCollapsed">
								<div class="columnCollapsedText pane-title">Not Started (<span class="NScount">{{nstartCount}}</span>)</div>
							</div>
							<div class="column" id="divNotStarted">
								<div class="column-title">
									<div class="textbox pane-title" >Not Started (<span class="NScount"> {{nstartCount}}</span>)</div>
									<div class="iconBox">
										<img src="img/expand.png" ng-click="addTaskStoreEntry(0)" class="cursor-hand" title="Add Task" />&nbsp;
										<img src="img/collapse.png" class="cursor-hand" type="collapseColumn" />
									</div>
								</div>
								  <ul id="sourceList" dnd-between-list="notStarted,targetList"
								ng-class="{'minimalList':notStartedEmpty()}" class="sortable-list col1"  state="0">
							<li ng-repeat="item in nstart = (taskStore | filter:{ state: 0 })" item-index="{{$index}}" item-id="{{item.id}}" item-state="{{item.state}}"><div class="sch-task"><div class="sch-color"></div>
						<div class="sch-task-name"/>
								<label for="name" class="control-label{{item.id}}">{{item.name}}</label>
									<input type="text" class="input-medium{{item.id}}" style="display:none;" />	
								</div>
							<div showonhoverparent rating-value="rating"><img  id="changeUser{{item.id}}" class="sch-user-avatar context-menu-one cursor-hand" src="{{item.userImg}}" onload="rating='this.src';" title="Assign User"></div>
							<div class="sch-tool-ct"><div ng-hide="item.nbrComments=='0'" class="sch-tool sch-tool-comment">{{item.nbrComments}}</div></div><div style="clear:both"></div></div></li>
									</ul>
								</div>
						</div>

						<div class="columnMain left" expanded="true">
							<div class="columnCollapsed" id="divInProgressCollapsed">
								<div class="columnCollapsedText pane-title">In Progress (<span class="NScount">{{inProgressCount}}</span>)</div>
							</div>
							<div class="column" id="divInProgress">
								<div class="column-title">
									<div class="textbox pane-title">In Progress (<span class="NScount">{{inProgressCount}}</span>)</div>
									<div class="iconBox">
										<img src="img/expand.png" ng-click="addTaskStoreEntry(1)" class="cursor-hand" title="Add Task" />&nbsp;
										<img src="img/collapse.png" class="cursor-hand" type="collapseColumn"/>
									</div>
								</div>
								<ul class="sortable-list col2" id="targetList"
	                dnd-between-list="inProgress,targetList1,sourceList"
	                ng-class="{'minimalList':inProgressEmpty()}" state="1">
								 <li ng-repeat="item in inProgress = (taskStore | filter:{ state: 1 })" item-index="{{$index}}" item-id="{{item.id}}" item-state="{{item.state}}"><div class="sch-task"><div class="sch-color"></div>
							<div class="sch-task-name"/>
								<label for="name" class="control-label{{item.id}}">{{item.name}}</label>
									<input type="text" class="input-medium{{item.id}}" style="display:none;" />	
								</div>
							<div showonhoverparent ><img id="changeUser{{item.id}}"   class="sch-user-avatar context-menu-one cursor-hand" src="{{item.userImg}}" title="Assign User"></div><div class="sch-tool-ct"><div ng-hide="item.nbrComments=='0'" class="sch-tool sch-tool-comment">{{item.nbrComments}}</div></div><div style="clear:both"></div></div></li>
								</ul>
	
							</div>
						</div>

						<div class="columnMain left" expanded="true">
							<div class="columnCollapsed" id="divTestCollapsed">
								<div class="columnCollapsedText pane-title">Test (<span class="NScount">{{testCount}}</span>)</div>
							</div>
							<div class="column" id="divTest">
								<div class="column-title">
									<div class="textbox pane-title">Test (<span class="NScount">{{testCount}}</span>)</div>
									<div class="iconBox">
										<img src="img/expand.png" ng-click="addTaskStoreEntry(2)" class="cursor-hand" title="Add Task" />&nbsp;
										<img src="img/collapse.png" class="cursor-hand" type="collapseColumn"/>
									</div>
								</div>
								<ul class="sortable-list col3" id="targetList1" dnd-between-list="test,targetList,targetList2"
	                					ng-class="{'minimalList':testEmpty()}" state="2">
									 <li ng-repeat="item in test = (taskStore | filter:{ state: 2 })" item-index="{{$index}}" item-id="{{item.id}}" item-state="{{item.state}}">
									 <div class="sch-task"><div class="sch-color"></div>
							<div class="sch-task-name"/>
								<label for="name" class="control-label{{item.id}}">{{item.name}}</label>
									<input type="text" class="input-medium{{item.id}}" style="display:none;" />	
								</div>
							
							<div showonhoverparent ><img id="changeUser{{item.id}}"   class="sch-user-avatar context-menu-one cursor-hand" src="{{item.userImg}}" title="Assign User"></div><div class="sch-tool-ct"><div ng-hide="item.nbrComments=='0'" class="sch-tool sch-tool-comment">{{item.nbrComments}}</div></div><div style="clear:both"></div></div></li>
								</ul>
							</div>
						</div>
						
						<div class="columnMain left" expanded="true">
							<div class="columnCollapsed pane-title" id="divDoneCollapsed">
								<div class="columnCollapsedText">Done (<span class="NScount">{{doneCount}}</span>)</div>
							</div>
							<div class="column" id="divDone">
								<div class="column-title">
									<div class="textbox pane-title">Done (<span class="NScount">{{doneCount}}</span>)</div>
									<div class="iconBox">
										<img src="img/expand.png" ng-click="addTaskStoreEntry(3)" class="cursor-hand" title="Add Task" />&nbsp;
										<img src="img/collapse.png" class="cursor-hand" type="collapseColumn"/>
									</div>
								</div>
								<ul class="sortable-list col4" id="targetList2"
	                 				dnd-between-list="done,targetList1"ng-class="{'minimalList':doneEmpty()}" state="3">
								 <li class="" ng-repeat="item in done = (taskStore | filter:{ state: 3 })" item-index="{{$index}}" item-id="{{item.id}}" item-state="{{item.state}}"> <div class="sch-task"><div class="sch-color"></div>
	                    	<div class="sch-task-name"/>
								<label for="name" class="control-label{{item.id}}">{{item.name}}</label>
									<input type="text" class="input-medium{{item.id}}" style="display:none;" />	
								</div>
							<div showonhoverparent ><img id="changeUser{{item.id}}" class="sch-user-avatar context-menu-one cursor-hand" src="{{item.userImg}}"   ng-show="true"  title="Assign User"></div><div class="sch-tool-ct"><div ng-hide="item.nbrComments=='0'" class="sch-tool sch-tool-comment">{{item.nbrComments}}</div></div><div style="clear:both"></div></div></li>
								</ul>
							</div>
						</div>

						<div class="clearer">&nbsp;</div>

					</div>
					<!-- END: XHTML for example 1.2 -->
				</div>
			</div>
		</div>


<!-- load all the scripts -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>

<script src="js/angular.js" type="text/javascript"></script>

<script src="js/jquery.contextMenu.js" type="text/javascript"></script>

<!-- load the app scripts -->
<script src="app/app.js" type="text/javascript"></script>
<script src="app/ctrl-dnd.js" type="text/javascript"></script>
<script src="app/dir-dnd.js" type="text/javascript"></script>
</body>
</html>
